.main {
  text-align: center;
  background-color: rgb(71, 212, 109);
  border-radius: 2vw;;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.votebox {
  text-align: left;
  display: flex;
  flex-direction: column;
  
}



.names {
  font-family: "Open t;Sans", sans-serif;
  margin: 2vw;
  background-color: black;
  color: white;
  padding: 3vw;
  display: flex;
  border-radius: 2vw;
}

#elonm {
  
  margin-left: 28vw;
  width: 23vw;
}

#mz {
  margin-left: 30vw;
  height: 16vw;
  
}

#jeff {
  margin-left: 36vw;;
  height: 22vw;
}

#steve {
  height: 20vw;
  margin-left: 20vw;
}

#jack {
  height: 18vw;
  margin-left: 28vw;
}

 #head {
  border-radius: 4vw;

  background-color: black;
  color: white;
  width: 10vw;
}

#head2 {
  font-family: "Poor Story", cursive;
  position: relative;
  top: 0.5vw;
  font-size: 2vw;
} 




